
  
<mat-spinner [style.display]="ShowSpinner ? 'block' : 'none'"  [diameter]="500"></mat-spinner> 

<div class="flex-container">

 
  <div  class="flex-item1">

    <form [formGroup]="formCity" (ngSubmit)="addCity()">
      <mat-form-field >
        <input matInput formControlName="city" placeholder="Add City">
        <button mat-raise-button [ngStyle]="{'float': 'right'}" type="submit" [disabled]="!formCity.valid" >
            <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <list-city></list-city>

  </div>

  <div class="flex-item2">

    <mat-toolbar color="primary">  
      <mat-toolbar-row>
        <span>Weather Forecast</span>        
      </mat-toolbar-row>
    </mat-toolbar> 

    <tabs-city></tabs-city>

  </div>

</div>

